{# TODO: #}
{% if config.plugins.taxonomylist.enabled %}
      <aside class="categories">
        <h2>Categories</h2>
        {% set taxtype = "category" %}
        {% set taxlist = taxonomylist.get() %}
        {% if taxlist %}
          {% for tax, value in taxlist[taxtype] %}
            {% set count = taxonomy.findTaxonomy({'category':tax})|length %}
            {% set active = uri.param(taxtype) == tax ? ' active' : '' %}
            <a class="{{ active }}" href="/search//taxonomy/{{ taxtype }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }} [{{ count }}]</a>
          {% endfor %}
        {% endif %}

      </aside>
{% endif %}
