{% if config.plugins.taxonomylist.enabled %}
{%   set taxtype = "tag" %}
{%   set taxlist = taxonomylist.get() %}
      <aside class="tags">
        <h2>Tags</h2>
{%   if taxlist %}
{%     for tax, value in taxlist[taxtype] %}
{%       set count = taxonomy.findTaxonomy({'tag':tax})|length %}
{%       set active = uri.param(taxtype) == tax ? ' active' : '' %}
        <a class="{{ active }}" href="/search/taxonomy/{{ taxtype }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }} [{{ count }}]</a>
{%     endfor %}
{%   endif %}
      </aside>
{% endif %}
