{% if article.nextSibling.url or article.prevSibling.url %}
{%   set prevPage = article.nextSibling %}
{%   set nextPage = article.prevSibling %}
{% else %}
{%   set siblings = pages.children %}
{%   set prevPage = siblings.nextSibling(page.path) %}
{%   set nextPage = siblings.prevSibling(page.path) %}
{% endif %}
{% if nextPage.url or prevPage.url %}
          <nav class="context">
{%   if prevPage.url %}
            <a href="{{ prevPage.url }}" class="prev" data-tooltip="{{ prevPage.title }}" title="{{ prevPage.title }}" >Prev</a>
{%   else %}
            <div class="prev"></div>
{%   endif %}
{%   include '_articles/_block/breadcrumbs.html.twig' 
        with { 'article': article } %}
{%   if nextPage.url %}
            <a href="{{ nextPage.url }}" class="next" data-tooltip="{{ nextPage.title }}" title="{{ nextPage.title }}" >Next</a>
{%   else %}
            <div class="next"></div>
{%   endif %}
          </nav>
{% endif %}
