
  <header>
    <h2>
      {%- if article.active %}
        {{ article.title }}
      {%- else %}
        <a href="{{ article.url }}">{{ article.title }}</a>
      {%- endif %}
    </h2>
    {% if article.header.subtitle %}
    <h3>{{ article.header.subtitle }}</h3>
    {% endif %}
    <time title="{{ article.date|date("Y-m-d") }}"
      datetime="{{ article.date|date("Y-m-d") }}">{{ article.date|date("M d Y") }}</time>
    {% if not excerpt %}
    {% include '_articles/_block/breadcrumbs.html.twig' with { 'article': article } %}
    {% endif %}
  </header>
