        <section class="collection">
          <header>
            <h1>{{ page.header.collection.name }}{% if page.header.collection.showCount %} : <span class="count">{{ page.collection.count() }}</span>{% endif %}</h1>
            {% if page.header.collection.showMenu %}
            <nav>
              {# placeholder functions for filter taxonomy items in current collection #}
              {%- set active_class = (page.active or page.activeChild) ? ' class="active"' : '' %}
              {% for tag in page.taxonomy.tag %}
                  <!-- <a href="search/tag:{{ tag }}">{{ tag }}</a> -->
              {% endfor %}

              <!-- <a id="all" href="{{ page.url }}">all</a>
              <a id="tag-featured" href="{{ page.url }}{{ page.url ends with '/' ? '' : '/' }}tag:featured">featured</a>
              <a id="tag-showcase" href="{{ page.url }}{{ page.url ends with '/' ? '' : '/' }}tag:showcase">showcase</a> -->
              <a id="modal" href="javascript:toggleModal();">[ ]</a>
            </nav>
            {% endif %}
          </header>
          {% for article in page.collection %}
            {# and not (article.routable == false) #}
            {# % if not (article.url == page.url) and not (article.routable == false)  and not (article.visible == false) % #}
            {% if article.url != page.url  %}
              {% include ["_articles/#{ article.template }-excerpt.html.twig", "_articles/article-excerpt.html.twig"] with { 'article': article } %}
            {% endif %}
          {% endfor %}

          {% include '_sections/pagination.html.twig'   %}
        </section>
