{# itarate properties of an object into table #}
{#  looks like first level data items cannot be retrieved from
    key value in header - page.header[ 'person' ]  #}
{%- macro printData( dataKey, dataObj ) %}
{%   import _self as this %}
          <dl>
{%   for key, val in dataObj %}
{%     if key != "@type" %}
              <dt>{{ t('PHOTON.' ~ dataKey ~ '.' ~ key) }}</dt>
              <dd>
{%       if val is iterable %}
                    {{ val.count }}
                    {{ this.printData( dataKey ~ '.' ~ key, val ) }}
{%       else %}
                    {{ val }}
{%       endif %}
              </dd>
{%     endif %}
{%   endfor %}
          </dl>
{% endmacro printData -%}

{%- import _self as this %}
{% if page.header.data[ article.template ] %}
        <aside class="data">
          <h1>{{ t('PHOTON.' ~ article.template) }}</h1>
          {{ this.printData( article.template, page.header.data[ article.template ] ) }}
        </aside>
{% else %}
        <!-- no data -->
{% endif %}
