          <header>
{% if not excerpt %}
{%   include '_articles/_block/breadcrumbs.html.twig' with { 'article': article } %}
{% endif %}
            <h1>
{% if article.active %}
              {{ article.title }}
{% else %}
              <a href="{{ article.url }}">{{ article.title }}</a>
{% endif %}
            </h1>
{% if article.header.subtitle %}
            <h2>{{ article.header.subtitle }}</h2>
{% endif %}
{% if article.header.date %}
          <h2>{{ article.header.date|date("F d, Y @ g:i A") }}</h2>
{% endif %}
          </header>
