{% macro render(article, name) %}
{% if name=='' %}
{%   set articles=article.collection %}
{%   set articles_details=article.header.content %}
{%   set name = "default" %}
{% else %}
{%    set articles=article.collection(name) %}
{%    set articles_details=article.header[name] %}
{% endif %}
      <section class="collection">
        <header>
          <h1>{{ articles_details.title }}{{ article.header.sets[ name ].name }}{% if article.header.sets[ name ].showCount %} : <span class="count">{{ articles.count }}</span>{% endif %}</h1>
          <nav>
{% set toggle_id = name ~ '-expand-toggle' %}
            <input class="expand" type="checkbox" id="{{ toggle_id }}" role="none">
            <label for="{{ toggle_id }}" role="none"></label>
{# placeholder functions for filter taxonomy items in current collection #}
{# {% for tag in article.taxonomy.tag %} #}
            {# <a href="{{ article.url }}/tag:{{ tag }}">{{ tag }}</a> #}
{# {% endfor %} #}
            {# <a id="all" href="{{ article.url }}">all</a> #}
            {# <a id="tag-featured" href="{{ article.url }}{{ article.url ends with '/' ? '' : '/' }}tag:featured">featured</a> #}
            {# <a id="tag-showcase" href="{{ article.url }}{{ article.url ends with '/' ? '' : '/' }}tag:showcase">showcase</a>  #}
            {# <a id="modal" href="javascript:toggleModal();">[ ]</a> #}
          </nav>
        </header>
{% for item in articles %}
{%   if item.url != article.url  %}
{%     include ["_articles/#{ article.template }-excerpt.html.twig", "_articles/article-excerpt.html.twig"] with { 'article': item } %}
{%   endif %}
{% endfor %}
{% include '_sections/pagination.html.twig'   %}
      </section>
{% endmacro %}}
