{% extends 'default.html.twig' %}
{% set type = "article" %}
{% set types = "articles" %}
{% block template %}
{{ parent() }}
<!-- user/themes/photon/templates/article.html.twig -->
{% endblock template %}

{% block body_template_classes %}{{ parent() }} {{ type }}{% endblock body_template_classes %}

{% block main %}
  <main data-collection="{{ page.collection.count }}">
    {% block content %}
      {% include ["_articles/#{ page.template }.html.twig", "_articles/article.html.twig"] with { 'article': page } %}
      {% block collection %}

        {% if page.collection.count %}
          <section class="collection">
            <h1>{{ types }}: <span class="count">{{ page.collection.count() }}</span></h1>

            {% for article in page.collection %}
              {% if not (article.url == page.url) and article.routable == true %}
                {% include ["_articles/#{ article.template }-excerpt.html.twig", "_articles/article-excerpt.html.twig"] with { 'article': article } %}
              {% endif %}
            {% endfor %}

            {% include '_sections/pagination.html.twig'   %}
          </section>
        {% endif %}

      {% endblock collection %}
    {% endblock content %}
</main>
{% endblock main %}
